@use '../_layout/vars'as vars;
@use '../_layout/mixins'as mixin;


.tip{
    &__input--button{
        text-align: center;
        font-size: .9rem;
        font-weight: 700;

        &::placeholder{
            color: gray;
        }
    }

    &__p--amount,&__p--total{
        color: vars.$white;
        font-size: .9rem;
    }

    &__p--sub{
        color: gray;
        font-size: .8rem;
    }

    &__p--number{
        color: vars.$cyan;
        font-size: 2rem;
    }

    &__button--reset{
        width: 100%;
        background-color: vars.$cyan;
        color: vars.$cyan-dark;
        font-weight: 700;
        margin-top: auto;
        text-transform: uppercase;

        &:hover{
            background-color: vars.$cyan-grayish-light;
        }
    }
}

@media screen and (max-width:768px){
    .tip{
        &__input--button{
            font-size: 1.1rem;
        }

        &__button--reset{
            margin-top: 4rem;
        }
        
        &__p--sub{
            font-size: 1rem;
        }
    }
}