@use '../_layout/vars'as vars;
@use '../_layout/mixins'as mixin;


.tip{
    &__input--button{
        text-align: center;
        font-size: .9rem;
        font-weight: 700;

        &::placeholder{
            color: gray;
        }
    }

    &__input--bollar{
        background: url('../../images/icon-dollar.svg') no-repeat .6rem;
        background-size: .6rem;
    }

    &__input--people{
        background: url('../../images/icon-person.svg') no-repeat .6rem;
        background-size: .6rem;
    }

    &__p--amount,&__p--total{
        color: vars.$white;
        font-size: .9rem;
        display: block;
    }

    &__p--sub{
        color: gray;
        font-size: .8rem;
    }

    &__p--number{
        color: vars.$cyan;
        font-size: 2rem;
    }

    &__p--error{
        color: red;
        margin-left: 1rem;
        display: inline;
    }

    #errorBill{
        margin-left: 7rem;
    }

    &__button--active{
        background-color: vars.$cyan;
    }

    &__reset--disabled{
        opacity: .4;
    }
}

@media screen and (max-width:768px){
    .tip{
        &__input--button{
            font-size: 1.1rem;
        }

        &__button--reset{
            margin-top: 4rem;
        }
        
        &__p--sub{
            font-size: 1rem;
        }
    }
}