@use '../_layout/vars'as vars;
@use '../_layout/mixins'as mixin;

.tip{
    @include mixin.flex(center,center,column);
    background-color: vars.$cyan-grayish-light;
    width: 100vw;
    height: 100vh;

    &__img{
        width: 4rem;
        margin-bottom: 5rem;
    }

    &__container{
        display: flex;
        background-color: vars.$white;
        width: 50%;
        
        border-radius: 1.2rem;
        box-shadow: 0 0 .4rem rgba(0,0,0, .3);
        padding: 2rem 1rem 2rem 2.5rem;
    }

    &__left{
        width: 50%;
        padding-right: 1.5rem;
    }

    &__right{
        width: 50%;
        background-color: vars.$cyan-dark;
        color: vars.$white;
        border-radius: 1rem;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
    }

    &__p{
        font-size: .9rem;
        font-size: 600;
        color: rgb(88, 88, 88);
        margin-bottom: .2rem;
        display: inline;
    }

    &__input{
        width: 100%;
        background-color: vars.$cyan-grayish-very-light;
        padding: .3rem .8rem;
        border-radius: .3rem;
        text-align: end;
        font-size: .9rem;
        outline: none;
        color: vars.$cyan-dark;
        font-weight: 700;

        &:focus{
            border: 1.4px solid vars.$cyan;
        }
    }

    &__div:not(:first-child){
        margin-top: 1.5rem;
    }

    &__buttons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        margin-top: .5rem;
    }

    &__button{
        background-color: vars.$cyan-dark;
        color: vars.$white;
        border-radius: .2rem;
        padding: .4rem 1.4rem;
        font-size: .95rem;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color: vars.$cyan-grayish-light;
            color: #000;
        }
    }

    &__content{
        @include mixin.flex(space-between,center,row);

        &:not(:first-child){
            margin-top: 1.5rem;
        }
    }
}

@media screen and (max-width:768px) {
    
    .tip{
        @include mixin.flex(flex-end,center,column);
        position: relative;

        &__img{
            width: 5rem;
            margin-bottom: 1.8rem;
        }

        &__container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 85%;
            border-radius: 1.2rem 1.2rem 0 0;
            padding: 2rem;
        }

        &__left{
            width: 100%;
            padding-right: 0rem;
        }

        &__right{
            width: 100%;
            color: vars.$white;
            margin-top: 3rem;
            height: max-content;
        }

        &__input{
            font-size: 1.2rem;
        }

        &__div:not(:first-child){
            margin-top: 2rem;
        }

        &__buttons{
            grid-template-columns: repeat(2,1fr);
        }

        &__button{
            font-size: 1.1rem;
        }

        &__content{
            @include mixin.flex(space-between,center,row);

            &:not(:first-child){
                margin-top: 1.5rem;
            }
        }
    }
}